<!DOCTYPE html>
<html lang="en">
  <head>
    <title>QMTIS Trader | Reset Password</title>
    <link rel="shortcut icon" href="https://i.imgur.com/YX0EMZH.jpg"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap4 minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>
  <style>
    /* Responsive Typpography */
    html {
      font-size: 1rem;
    }

    @media screen and (max-width: 786px) {
      html {
        font-size: 0.95rem;
      }
    }

    @media screen and (max-width: 992px) {
      html {
        font-size: 0.85rem;
      }
    }

    @media screen and (max-width: 1200px) {
      html {
        font-size: 0.75rem;
      }
    }
    /* END Responsive Typpography */

  	.jumbotron {
  		background-color: #003466;
  		height: 18.5rem;
  	 }

  </style>

  <body>

  <div class="jumbotron text-center text-light">
    <h1>Queen Mary University of London Trading and Investment Society</h1>
      <img src="https://i.imgur.com/YX0EMZH.jpg"
           width="80" height="80" class="img-rounded" alt="QMTIS" class="img-fluid">
    <h3 class="d-none d-lg-block text-light">Stock Simulator</h3>
  </div>

  {% if error %}
    <div class="alert alert-info" role="alert">
      <center><strong>{{error}}</strong></center>
    </div>
  {% endif %}


  <div class="container-fluid mt-5">
    <form class="form-horizontal" action="{% url 'users:new_password' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="username" value="{{username}}" >
      <div class="form-group row">
        <div class="col-md-3 col-1"></div>
        <div class="col-md-6 col-10">
          <label for="pwd1">Password</label>
          <input type="password" class="form-control" id="pwd1" placeholder="Enter new password" name="password1">
        </div>
        <div class="col-md-3 col-1"></div>
      </div>
        <div class="form-group row">
          <div class="col-md-3 col-1"></div>
          <div class="col-md-6 col-10">
          <label for="pwd2"></label>
          <input type="password" class="form-control" id="pwd2" placeholder="Re-enter new password" name="password2">
        </div>
        <div class="col-md-3 col-1"></div>
      </div>
      <div class="form-group row">
        <div class="col-md-3 col-1"></div>
        <div class="col-md-6 col-10">
          <button type="submit" class="btn btn-default float-right">Submit New Password</button>
        </div>
        <div class="col-md-3 col-1"></div>
      </div>
    </form>
  </div>

  <!-- Responsive padding -->
  <div class="container py-4 my-5"></div>
  <div class="d-block d-xl-none container py-5 my-5"></div>
  <div class="d-block d-xl-none container py-4 my-4"></div>

  <hr style="width:90%">

  <!-- Footer -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 text-center">
        <p>&copy;
          2018 Queen Mary Trading & Investment Society &middot;
          <a href="https://www.qmsu.org/groups/investment/">Join Us</a> &middot;
          <a href="http://www.qmtis.com/">QMTIS Website</a>
        </p>
      </div>
      <div class="d-md-inline d-none col-md-6 text-center">
        <p>Contact Us &middot;
          <a href="mailto:qmtis@gmail.com?Subject=%20" target="_top">qmtistrader@gmail.com</a>
        </p>
      </div>
    </div>
  </div>


</body>
</html>